.screen{
    padding: 30px;
}

.body{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: wrap;
    gap: 20px;
}

.cardBody{
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 18px;    
    /* overflow: scroll; */
    /* height: calc(100vh - 141px); */
}