.screen{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-x: hidden;
}

.state-body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
}

.module{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line{
    width: 1px;
    height: 62px;
    background: var(--muted-border);
}

