.body{
    width: 800px;
    margin: 25px;
}

.form{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    height: 540px;
    margin: 15px 0px;
    width: 100%;
    overflow-y: scroll;
    padding-right: 5px;
}



.form::-webkit-scrollbar{
    display: none;
}

.form::-webkit-scrollbar {
    display: block;
    width: 5px; /* Set the width of the scrollbar */
  }

.form::-webkit-scrollbar-thumb {
    background-color: var(--text-color-2); /* Set the color of the scrollbar thumb */
    border-radius: 12px;
  }
  
.from::-webkit-scrollbar-track {
    background-color: var(--white); /* Set the color of the scrollbar track */
  }

.buttons{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

.images{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    width: 100%;
}

.list{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    padding: 0px;
    width: 100%;
}

.listItem{
    width: calc(100% - 36px);
    padding: 12px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--second-border-color);
    border-radius: 8px;
    color: var(--text-color);
    text-transform: capitalize;
}

.listItem.listItemSuccess{
    
    background-color: var(--valid-background) !important;
    border: 2px solid var(--success-color);
}
.listItem.listItemFailed{
    background-color: var(--invalid-background) !important;
    border: 2px solid var(--fail-color);
}

.closeIcon{    
    color: var(--text-color-2);
    cursor: pointer;
}

.closeIcon:hover{
    color: var(--text-color);
}