.screen{
    padding: 30px;
}

.body{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: wrap;
    gap: 20px;
}

.cardBody{
    margin: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 18px;    
    overflow: scroll;
    /* height: calc(100vh - 141px); */
}

.cardBody::-webkit-scrollbar{
    display: none;
}

.top{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-direction: column; */
}

.profile{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 2px solid var(--muted-border);
}

.details{
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    overflow-y: scroll;
    width: calc(100% - 6px);
    min-width: 390px;
    max-height: calc(100vh - 324px);
    align-content: center;
    flex-direction: column;
    align-items: center;
    padding-right: 5px;
}

.fields{
    max-width: 1200px;
    height: calc(100vh - 400px);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: scroll;
    gap: 15px;
}

.details::-webkit-scrollbar,
.fields::-webkit-scrollbar{
    display: none;
}

.details::-webkit-scrollbar,
.fields::-webkit-scrollbar {
    display: block;
    width: 4px; /* Set the width of the scrollbar */
  }

.details:hover::-webkit-scrollbar-thumb,
.fields:hover::-webkit-scrollbar-thumb {
    background-color: var(--text-color-2); /* Set the color of the scrollbar thumb */
    border-radius: 12px;
  }
  
.details::-webkit-scrollbar-track,
.fields:hover::-webkit-scrollbar-track {
    background-color: transparent; /* Set the color of the scrollbar track */
  }

.buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.companyDetails{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 15px;
    overflow-y: scroll;
    max-height: 710px;
}
.companyDetails::-webkit-scrollbar{
    display: none;
}

