:root{
  width: 100%;
  font-family: 'Outfit', sans-serif;
  /* //colors */
  --valid-background: #28ff7a64;
  --invalid-background: #ff2a2a5b;
  --notification-background: "#F8FAFF";
  --background: #f9fbfa;
  --white: #ffffff;
  --white-solid: #ffffff;
  --active-li: rgba(0, 0, 0, 0.04);
  --dark-background: #363740;
  --text-color: #222222;
  --text-color-2: #8A92A6;
  --second-text-color: #737373;
  --second-border-color: #adadad;
  --light-gray-1: #f3f3f3;
  --light-gray-2: #f4f4f4;
  --primary-color: #0ba5ff;
  --success-text-color: #2DC071;
  --success-color: #76D8A3;
  --fail-color: #DF1E1E;
  --muted-color: #BDBDBD;
  --muted-border:#dddddd;
  --skeleton-color: #eeeeee;
  --secondary-color-1: #23856D;
  --dark-background-color: #252B42;
  --grayscale-gray: #9FA2B4;
  --skeleton:#e2e5e7;
}

/* Fonts */



body{
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--background);
}



.body{
  width: 100%;
  display: flex;  
  /* grid-template-areas: 'left right right right right right right right right right right right right right right right'; */
  user-select: none;
  margin: 0;
  padding: 0;
}



.content{
  flex: 4;  
  width: 100%;
  height: 100vh;
  /* grid-area: right; */
}

.loading {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  border: 3px solid var(--text-color);
}
.loading{
  box-sizing: border-box;
  display: block;
  width: 24px;
  height: 24px;
  border: 3px solid #fff;
  border-radius: 50%;
  animation: loading 800ms cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff #fff #ffffff40 #ffffff40;
}
.loading div:nth-child(1) {
  animation-delay: -0.25s;
}
.loading div:nth-child(2) {
  animation-delay: -0.3s;
}
.loading div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.horizontaldiv{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 12px;
}

.heading{
  color: var(--text-color);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px
}

.subheading{
  color:  var(--text-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px
}

.normal-text{
  color: var(--text-color-2);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  margin: 0px;
}

.text1{
  color: var(--text-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.text2{
  color: var(--text-color-2);
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 175%; /* 35px */
  margin: 0px;
  text-align: center;
}

button{
  font-weight: normal;
}

.btn-3{
  outline: none;
  border: none;
  padding: 10px 25px;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
  color: var(--second-text-color);
  background-color: var(--background);
  box-sizing: content-box;
}

.btn-3.success{
  background-color: var(--valid-background);
}

.btn-3.fail{
  background-color: var(--invalid-background);
}

.btn-3:hover{
  box-shadow:inset 0px 0px 0px 1px var(--muted-border);
}

.btn-download-small{
  color: var(--text-color);
  padding: 2px 8px;
  font-size: 12px;
  font-weight: 500;
}

.btn-download-small:hover{
  box-shadow:0px 0px 0px 1px var(--muted-border);
}

.skeleton {
	background-color: var(--skeleton);
	background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
	background-size: 40px 100%;
	background-repeat: no-repeat;
	background-position: left -40px top 0;
	animation: shine 1s ease infinite;
}

.background{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 99;
    align-items: center;
}

@keyframes shine {
	to {
		background-position: right -40px top 0;
	}
}

@media (max-width: 1024px) {
    .text1{
      font-size: 18px;
    }
    .text2{
      font-size: 14px;
    }
    .heading{
      font-size: 26px;
    }
    .subheading{
      font-size: 16px;
    }
    .normal-text{
      font-size: 12px;
    }
    .horizontaldiv{
      flex-direction: column;
    }
}